.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .c{
    background-image:
    linear-gradient(136deg, #dab23a 10%, #c90f0f 100%);
    background-clip:text;-webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    -webkit-box-decoration-break:clone
    
  }

  .c1{
    background-image:
    linear-gradient(136deg, #a40ce0 10%, #1adff5 100%);
    background-clip:text;-webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    -webkit-box-decoration-break:clone
    
  }